In [8]:
from neo4j import GraphDatabase
driver = GraphDatabase.driver(uri="bolt://localhost:7687",auth=("neo4j", "rgukt123"))
session=driver.session()
session

In [9]:
import pandas as pd

df = pd.read_csv (r'/home/divija/Downloads/data_hand_picked2.csv')

   Unnamed: 0          pLabel  propLabel      rLabel
0           0  Hiranyakashipu  killed_by   Narasimha
1           1     Dashavatara   has_part   Narasimha
2           2           Samba     spouse  Lakshmanaa
3           3      Duryodhana      child  Lakshmanaa
4           4       Bhanumati      child  Lakshmanaa

In [10]:
a=df.shape[0]
for i in range(0,a):
    q=" MERGE (p:Item {name:'"+df.iloc[i,1]+"'}) MERGE(q:Item {name:'"+df.iloc[i,3]+"'}) CREATE (p)-[r:"+df.iloc[i,2]+"]->(q)"
    record=session.run(q)

TypeError: can only concatenate str (not "float") to str